:root {
  --primary-color: #655CC9;
  --secondary-color: #157347;
}

.title-barber {
  text-align: center;
  color:var(--primary-color)
}
#boton-crear-barberia {
  background-color:var(--primary-color);
  color: white;
  border: none;
  border-radius: 15px;
  padding: 10px 40px;
  cursor: pointer;
  transition: ease-in-out 5sg;
}

#btn-enviar-barbero {
  margin: auto;
}
#form-barber-container {
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
  padding: 20px;
  height: 100vh;

}



#form-barber {
  width: 40%;
  margin-left: 0;
  padding: 40px;
  z-index: 1; 
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1)
}

#form-barber input,
#form-barber select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 5px 0;
}

input:focus, input:active {
  outline: none;
}

#form-barber button:hover {
  background-color: #5750aa;
}

.img-container img {
  position: absolute;
  background-size: cover;
  height: 80px;
  top: 70px;
  border: 2px solid rgb(189, 187, 198);
  border-radius: 8px;
  box-shadow: 3px 3px 5px rgba(179, 10, 10, 0.2);
  margin-right: 2rem;
}
@media (max-width: 908px) {
  .img-container img {
    position: absolute;
    background-size: cover;
    height: 20px;
    top: 10px;
  }

  #form-barber-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
  }

  #form-barber {
    width: 60%;
    margin-left: 0;
    margin-top: 3rem;
    padding: 40px;
    z-index: 1;
  }
}



@keyframes desaturate {
  0% {
    filter: grayscale(0%); 
  }
  25% {
    filter: grayscale(10%); 
  }
  50% {
    filter: grayscale(20%);
  }
  75% {
    filter: grayscale(30%); 
  }
  100% {
    filter: grayscale(0%); 
  }
}
