:root {
  --primary-color: #655CC9;
  --secondary-color: #157347;
}

/*Footer*/
.pie-pagina {
    bottom: 0;
    width: 100%;
    background-color: white;
    color: black;
    margin-top: 88px;
  }
  
  .pie-pagina .grupo-1 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 12px 0 20px 0;
  }
  
  .pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pie-pagina .grupo-1 .box figure img {
    width: 100px;
  }
  
  .pie-pagina .grupo-1 .box h2 {
    color: black;
    margin-bottom: 25px;
    font-size: 14px;
  }
  
  .pie-pagina.grupo-1 .box p {
    color: black;
    margin-bottom: 15px;
    font-size: 5px;
  }
  
  .pie-pagina .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-right: 8px;
    color: white;
    background-color: var(--primary-color);
    text-align: center;
    transition: all 300ms ease;
    border-radius: 10px;
  }
  
  .pie-pagina .grupo-1 .red-social a:hover {
    color: var(--primary-color);
  }
  
  .pie-pagina .grupo-2 {
    background-color: var(--primary-color);
    padding: 10px;
    text-align: center;
    color: #fff;
  }
  
  .pie-pagina .grupo-2 small {
    font-size: 12px;
  }
  
  @media screen and (max-width:800px) {
    .pie-pagina .grupo-1 {
        width: 90%;
        grid-gap: 30px;
        grid-template-columns: repeat(1, 1fr);
        padding: 25px 0;
    }
  }
  
  