:root {
    --primary-color: #655CC9;
    --secondary-color: #157347;
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo, .titulo1 {
    color: var(--primary-color);
    font-size: 60px;
    text-align: center;
    margin-bottom: 60px;
    margin-top: 60px;
}

.sobre-nosotros {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    flex-wrap: wrap; 
}

.sobre-nosotros img {
    height: 280px;
    width: 280px; 
    margin-bottom: 20px; 
}

.sobre-nosotros .contenido-textos {
    width: 48%;
}

.contenido-textos h3 {
    margin-bottom: 15px;
}

.contenido-textos h3 span {
    background-color: var(--primary-color);
    color: white;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 var(--primary-color);
    margin-right: 5px;
}

.contenido-textos p {
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

.cuadrados {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; 
}

.cuadrado {
    background: var(--primary-color);
    width: 46%;
    height: 130px;
    border-radius: 5px;
    margin-bottom: 20px; 
    color: white;
}

.contenido-texto-cuadrado {
    display: flex;
    align-items: center;
    padding: 10px;
}

.cuadrado img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-right: 10px;
}

.cuadrado p {
    text-align: left;
    margin-left: 10px;
    font-size: 23px;
}

.ventajas-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
}

.ventaja {
    width: 28%;
    text-align: center;
}

.ventajas-cont img {
    width: 90%;
}

.ventajas-cont h3 {
    margin: 10px 0;
}

.ventajas-cont p {
    font-weight: 300;
    text-align: justify;
}

@media screen and (max-width: 900px) {
    .sobre-nosotros .contenido-textos {
        width: 90%;
    }
    .cuadrado {
        width: 90%;
        height: 20%;
        margin-left: 10px;
        margin-right: 10px;
    }
    .cuadrados .cuadrado:first-child {
        margin-bottom: 30px;
    }
    .ventaja {
        width: 100%;
        text-align: center;
    }
    .ventaja img {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    .imagen-nosotros {
        margin-bottom: 30px;
        width: 100%;
    }
    .sobre-nosotros .contenido-textos {
        width: 100%;
    }
    .cuadrados {
        display: flex;
        flex-direction: column; 
        align-items: center; 
    }
    .cuadrado {
        width: 100%;
        height: 20%;
        margin-bottom: 20px;
        margin-left: 10px;
        margin-right: 10px; 
    }
}