#form-recuperar-container {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#form-recuperar {
  width: 420px;
  padding: 12px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 16px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
}

#form-recuperar > div > input,
#form-recuperar > div > button {
  width: 100%;
  height: 38px;
  border-radius: 4px;
}

#form-recuperar > div > input {
  border: 1px solid gray;
}

#form-recuperar > div > button {
  background-color: #198b56cc;
  color: white;
  border: none;
}

#mensaje-recuperar {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

#mensaje-recuperar > span {
  font-size: 13px;
  color: gray;
}