ul, ol {
  margin: 0;
  padding: 0;
}

#form-container {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#form-register {
  background-color: white;
  width: 420px;
  padding: 12px;
  border-radius: 4px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 16px;
  column-gap: 8px;
}

#form-register > #form-title, #form-email, #form-button, #form-cuentaCreada {
  grid-column: 1/3;
}

#form-register > ul > li > input,
#form-register > ul > li > button {
  width: 100%;
  height: 38px;
  border-radius: 4px;
}

#form-register > ul > li > button {
  background-color: #198b56cc;
  color: white;
  border: none;
}

#form-register > ul > li > input {
  border: 1px solid gray;
}

#form-title {
  margin-top: 8px;
}

#form-cuentaCreada {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}