
.review-section {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.review-container {
  padding: 0;
  border-radius: 4px;
}

.review-container-child {
  width: auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  padding: 12px;
  margin: 0;
  gap: 80px;
  margin-top: 10px;
  background-color: white;
  border-radius: 6px;
}

.review-left-containter {
  padding-left: 5px;
}

.review-title {
  font-size: 20px;
  font-weight: 500;
  max-width: 400px;
}

.review-experience {
  width: auto;
  max-width: 400px;
  color: #575757;
  font-size: 14px;
}

.gray-text {
  color: #575757;
}

.review-right-containter {
  display: flex;
  justify-content: space-between;
  gap: 14px;
}

.review-right-containter:hover {
  cursor: pointer;
}

.review-barbershop-image-container {
  aspect-ratio: 1 / 1;
}

.review-barbershop-image {
  width: 105px;
  height: auto;
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.review-barbery-info {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
}

.review-barber-name {
  text-decoration: none;
}

.review-barber-name:hover {
  text-decoration: underline;
}