@import url("../modulos-css/header.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*seccion barberia*/
.contenedor_principal {
  background-color: #F5F5F5;
  display: flex;
  justify-content: center;
  padding: 40px;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 90px;

}

.contenedor {
  width: 1300px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 800px;
  padding: 40px;
  margin-top: 20px;
}

.contenedorxl {
  background-image: url("https://i.pinimg.com/originals/58/20/bd/5820bdd4a8fea8a6bdd5d27d6fd040d7.jpg");
  background-size: cover;
  height: 90%;
  width: 35%;
  border: 1px solid;
  color: #FFFFFF;
  cursor: pointer;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.contenedorxl1 {
  background-image: url("https://e00-elmundo.uecdn.es/assets/multimedia/imagenes/2021/05/24/16218610144610.jpg");
  background-size: cover;
  height: 90%;
  width: 35%;
  border: 1px solid;
  color: #FFFFFF;
  cursor: pointer;
  padding: 10px;
  text-align: center;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}


.contenedorx {
  background-color: cornflowerblue;
  height: 45%;
  width: 30%;
  border: 1px solid;
  color: #ffffff;
  cursor: pointer;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contenedorxl,
.contenedorx,
.contenedorxl1 {
  /* ... otros estilos ... */
  transition: transform 0.3s ease;
}

.contenedorxl:hover,
.contenedorx:hover,
.contenedorxl1:hover {
  transform: scale(1.05);
}


.buscador {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
}

.buscador input {
  flex-grow: 1;
  padding: 8px;
  border: none;
  border-radius: 20px;
  font-size: 14px;


}

.buscador input:focus {
  outline: none;
}

.buscador button {
  background-color: #337ab7;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  padding: 8px 12px;
  margin-left: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buscador button:hover {
  background-color: #13558e;
}

.eslogan {
  font-weight: bold;
  font-style: italic;
}

@media (max-width: 730px) {
  .contenedor {
    height: auto;
    width: 500px;
  }

  .contenedorxl,
  .contenedorx,
  .contenedorxl1 {
    width: 90%;
    height: 400px;

  }
}

/*Footer*/
.pie-pagina {
  bottom: 0;
  width: 100%;
  background-color: white;
  color: black;
}

.pie-pagina .grupo-1 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding-top: 12px;
  padding: 20px 0;
}

.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
  width: 100px;
}

.pie-pagina .grupo-1 .box h2 {
  color: black;
  margin-bottom: 25px;
  font-size: 14px;
}

.pie-pagina.grupo-1 .box p {
  color: black;
  margin-bottom: 15px;
  font-size: 5px;
}

.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-right: 8px;
  color: white;
  background-color: cornflowerblue;
  text-align: center;
  transition: all 300ms ease;
  border-radius: 10px;
}

.pie-pagina .grupo-1 .red-social a:hover {
  color: rgb(74, 137, 253);
}

.pie-pagina .grupo-2 {
  background-color: cornflowerblue;
  padding: 10px;
  text-align: center;
  color: #fff;
}

.pie-pagina .grupo-2 small {
  font-size: 12px;
}

@media screen and (max-width:800px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-gap: 30px;
    grid-template-columns: repeat(1, 1fr);
    padding: 25px 0;
  }
}


/*seccion barberia*/
.seccion-barberias {
  padding: 100px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 140px;
}

.seccion-barberias h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px;
  color: #272222;
}

.contenedor-barberias {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.barberia {
  text-align: center;


}

.barberia img {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-bottom: 20px;
  border-radius: 20px;

}

.barberia h3 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
  font-style: italic;
  color: #272222;
}

.barberia p {
  font-size: 16px;
}

.ver-mas {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 30px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #575353;
  background-color: #ffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.ver-mas::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(214, 203, 203, 0.3);
  z-index: -1;
  transition: transform 0.3s ease;
}

.ver-mas:hover::before {
  transform: translateX(100%);
}