/*Fuente Nunito Sans*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,500;1,300&display=swap');

/*Inicio body*/

body {
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-family: sans-serif;
    background-color: #959393;
}

* {
    font: 15px "Fira Sans", sans-serif;
}

/*Fin body*/

/* Contenido*/

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: cornflowerblue;
    font-size: 60px;
    text-align: center;
    margin-bottom: 60px;
}

.sobre-nosotros {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.sobre-nosotros img {
    width: 28%;
}

.sobre-nosotros .contenido-textos {
    width: 48%;
}

.contenido-textos h3 {
    margin-bottom: 15px;

}

.contenido-textos h3 span {
    background-color: cornflowerblue;
    color: white;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgb(67, 126, 237);
    margin-right: 5px;
}

.contenido-textos p {
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

.cuadrados {
    display: flex;
    justify-content: space-evenly;
}

.cuadrados .cuadrado {
    background: cornflowerblue;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
}

.cudadrados .cuadrado>.contenido-texto-cuadrado {
    width: 60%;
    color: white;
}

.cudadrados .cuadrado>.contenido-texto-cuadrado p {
    font-weight: 300;
    padding-top: 5px;
}

.ventajas-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ventaja {
    width: 28%;
    text-align: center;
}

.ventajas-cont img {
    width: 90%;
}

.ventajas-cont h3 {
    margin: 10px 0;
}

.ventajas-cont p {
    font-weight: 300;
    text-align: justify;
}


@media screen and (max-width:900px) {
    .sobre-nosotros {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sobre-nosotros .contenido-textos {
        width: 90%;
    }

    .cuadrados {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cuadrados .cuadrado {
        width: 90%;
    }

    .cuadrados .cuadrado:first-child {
        margin-bottom: 30px;
    }

    .ventajas-cont {
        justify-content: center;
        flex-direction: column;
    }

    .ventaja {
        width: 100%;
        text-align: center;
    }

    .ventaja img {
        width: 90%;
    }
}


@media screen and (max-width:500px) {
    .imagen-nosotros {
        margin-bottom: 60px;
        width: 99%;
    }

    .sobre-nosotros .contenido-textos {}
}

/*Footer*/
.pie-pagina {
    bottom: 0;
    width: 100%;
    background-color: white;
    color: black;
}

.pie-pagina .grupo-1 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding-top: 12px;
    padding: 20px 0;
}

.pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
    width: 100px;
}

.pie-pagina .grupo-1 .box h2 {
    color: black;
    margin-bottom: 25px;
    font-size: 14px;
}

.pie-pagina.grupo-1 .box p {
    color: black;
    margin-bottom: 15px;
    font-size: 5px;
}

.pie-pagina .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-right: 8px;
    color: white;
    background-color: cornflowerblue;
    text-align: center;
    transition: all 300ms ease;
    border-radius: 10px;
}

.pie-pagina .grupo-1 .red-social a:hover {
    color: rgb(74, 137, 253);
}

.pie-pagina .grupo-2 {
    background-color: cornflowerblue;
    padding: 10px;
    text-align: center;
    color: #fff;
}

.pie-pagina .grupo-2 small {
    font-size: 12px;
}

@media screen and (max-width:800px) {
    .pie-pagina .grupo-1 {
        width: 90%;
        grid-gap: 30px;
        grid-template-columns: repeat(1, 1fr);
        padding: 25px 0;
    }
}

/*carrusel*/
.d-item {
    height: 600px;
}

.d-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.4);
}
.contenedor-sobre-nosotros{
    margin-top: 40px;
}
