@import url(../../modulos-css/header.css);

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F3F2EF;
}

.contenedor-principal-barberos {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 28px;
  margin-top: 20px;
}

.contenedor-busqueda-barberos {
  width: 800px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #F3F2EF;
}

.contenedor-perfil-barbero {
  background-color: white;
  width: 100%;
  height: auto;
  padding: 10px 0;
  display: grid;
  grid-template-columns: 15% 67% 18%;
  border-bottom: 0.5px solid #F3F2EF;
}

.contenedor-img-busqueda-barbero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-img-busqueda-barbero a {
  height: 60px;
  width: 60px;
}

.contenedor-img-busqueda-barbero img {
  width: 100%;
  border-radius: 50%;
}

.contenedor-info-busqueda-barbero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
  padding-left: 20px;
  cursor: pointer;
}

.contenedor-nombre-busqueda-barbero {
  width: auto;
}

.contenedor-info-busqueda-barbero .nombre-busqueda-barbero:hover {
  text-decoration: underline;
  cursor: pointer;
}

.contenedor-agendar-busqueda-barbero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.contenedor-agendar-busqueda-barbero button {
  background-color: rgb(72, 126, 226);
  color: white;
  width: 85px;
  height: 28px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
}

.contenedor-agendar-busqueda-barbero button:hover {
  background-color: rgb(49, 111, 226);
  cursor: pointer;
}

.anuncios {
  background-color: chocolate;
  width: 300px;
  border-radius: 10px;
}


/*
colores de contenedores
.contenedor-principal-barberos {
  background-color: cornflowerblue;
}

.contenedor-busqueda-barberos {
  background-color: cadetblue;
}

.contenedor-perfil-barbero {
  background-color: tomato;
}

.contenedor-img-busqueda-barbero {
  background-color: darkslateblue;
}

.contenedor-info-busqueda-barbero {
  background-color: darkorchid;
}

.contenedor-agendar-busqueda-barbero {
  background-color: indigo;
}
*/