@import url('../../modulos-css/header.css');
@import url('../modulos-css/general.css');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;1,300&family=Open+Sans:wght@500&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Nunito+Sans:ital,wght@0,400;1,300&display=swap');

.contenedor-principal-barberos {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 28px;
  margin-top: 20px;
  padding: 3px;
}

.contenedor-busqueda-barberos {
  width: 800px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #F3F2EF;
}

.contenedor-perfil-barbero {
  background-color: white;
  width: 100%;
  height: auto;
  padding: 10px 0;
  display: grid;
  grid-template-columns: 15% 67% 18%;
  border-bottom: 1px solid #F3F2EF;
}

.contenedor-img-busqueda-barbero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-img-busqueda-barbero a {
  height: 60px;
  width: 60px;
}

.contenedor-img-busqueda-barbero img {
  width: 100%;
  border-radius: 50%;
}

.contenedor-info-busqueda-barbero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
  padding-left: 20px;
  cursor: pointer;
}

.contenedor-nombre-busqueda-barbero {
  width: auto;
}

.nombre-busqueda-barbero {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.contenedor-info-busqueda-barbero .nombre-busqueda-barbero:hover {
  text-decoration: underline;
  cursor: pointer;
}

.busqueda-barberia-barbero {
  width: auto;
}

.busqueda-barberia-barbero:hover {
  text-decoration: underline;
}

.contenedor-info-busqueda-barbero small {
  color: #535353;
}

.contenedor-agendar-busqueda-barbero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.contenedor-agendar-busqueda-barbero span {
  display: none;
}

.contenedor-agendar-busqueda-barbero button {
  background-color: rgb(72, 126, 226);
  color: white;
  width: 85px;
  height: 28px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
}

.contenedor-agendar-busqueda-barbero button:hover {
  background-color: rgb(49, 111, 226);
  cursor: pointer;
}

.anuncios {
  background-color: chocolate;
  width: 300px;
  border-radius: 10px;
}

@media screen and (max-width:822px) {

  .contenedor-principal-barberos {
    display: flex;
    flex-direction: column;
  }

  .contenedor-principal-barberos:nth-child(1) {
    order: 1;
  }

  .contenedor-principal-barberos:nth-child(2) {
    order: 2;
  }

  .anuncios {
    margin: auto;
  }

  .contenedor-perfil-barbero {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: auto;
  }

  .contenedor-info-busqueda-barbero {
    height: auto;
    font-size: smaller;
    padding-left: 5px;
  }

  .contenedor-principal-barberos {
    width: 100%;
  }

  .contenedor-busqueda-barberos {
    width: 100%;
  }
}


/*
colores de contenedores
.contenedor-principal-barberos {
  background-color: cornflowerblue;
}

.contenedor-busqueda-barberos {
  background-color: cadetblue;
}

.contenedor-perfil-barbero {
  background-color: tomato;
}

.contenedor-img-busqueda-barbero {
  background-color: darkslateblue;
}

.contenedor-info-busqueda-barbero {
  background-color: darkorchid;
}

.contenedor-agendar-busqueda-barbero {
  background-color: indigo;
}
*/