body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto; /* Esto centrará el contenedor horizontalmente */
}

#text-container {
    margin-left: 30px;
}

select, input {
    margin-top: 10px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 200px;
}

#image-container {
    float: left;
    margin-right: 20px;
}

#image-container img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;
}

h2, h3 {
    color: #333333;
}

label {
    display: block;
    margin-top: 10px;
    color: #666666;
}

