* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;

}

.a {
    width: 75%;
    height: 100px;
    background-color: #e1d7d7;
    margin-top: -25px;
    border-radius: 4px;
    text-decoration: none;
}

header {
    background-color: rgba(231, 231, 141, 0.865);
    width: auto;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 10px;
}

nav {
    display: inline-block;
    color: rgb(0, 0, 0);
    padding: 30px;
    text-align: left;
    margin: 0;
    width: auto;
    height: auto;
    text-shadow: darkgrey;
    
}

.containerbutton {
    align-items: center;
    justify-content: flex-start;
    height: 90px;
    padding-top: 30px;
    padding-left: 5px;
    
}
.boton2{
    background-color:  #fff4f4;
    color: #0c0c0c;
}
.boton{
    background-color:  #131313; 
    color: #fff4f4;

}
.containerbutton button{
    width: 110px;
    font-size: 18px;      
    padding: 5px;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 14px;
    
}
.containerbutton button:hover{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

}

body {
    background-color: white;
}


.home-agenda-carrusel {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: relative;
    height: 500px;
}

.home-agenda-carrusel img {
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    width: 100%;
    height: 100%;

    }

.home-agenda-carrusel img:first-child {
    opacity: 1;
}
.logo{
    height: 90px;
}
.logo img {
    width: 150px;
    padding-bottom: 3px;

}

.navs{
    align-items: center;
    justify-content:flex-end;
    height: 90px;
    margin-left: -50px;
}
nav a {
    text-decoration: none;
    color: black;
  }
.navs :hover {
    color: #cc5c00;
    transform: translateY(-5px);
    cursor: pointer;
    
  }
  .entrar{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);}
.entrar button{
    background-color:rgba(231, 231, 141, 0.865);
    border-radius: 10px;
    width: 140px;
    height: 40px;
    font-size: 14px;
    color: white;
    border: none;
    cursor: pointer;
    

}
body{
    background-image: ;

}
.entrar button:hover:before {
    content: "Haz clic aquí ";
    display: block;
    position: absolute;
    top: 45px;
    color: rgba(237, 237, 147, 0.87);
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
  }