# dependencies
/node_modules
.env
http
uploads/*
!uploads/barber.jpg
!uploads/usuario.png
!uploads/barberia-profile.jpg
!uploads/astronauta-corazon.webp
!uploads/astronauta-mirando.jpg
!uploads/nocitas.png
